## Agenda

  - **Restructuring data** ✅
    - pd.melt()✅
    - pd.pivot()✅
    - pd.pivot_table()✅
    - pd.cut()
  - **Dealing with Missing Values**
    - None and nan values
    - isna() and isnull()
    - dropna()
    - fillna()
     
  - **String method in pandas**
    
  - **Handling datetime** 


  - **Writing to a file**

In [1]:
!gdown 173A59xh2mnpmljCCB9bhC4C5eP2IS6qZ

Downloading...
From: https://drive.google.com/uc?id=173A59xh2mnpmljCCB9bhC4C5eP2IS6qZ
To: /Users/ritnil/Scaler-cohorts/Pfizer_1.csv
100%|██████████████████████████████████████| 1.51k/1.51k [00:00<00:00, 2.08MB/s]

In [2]:
import numpy as np
import pandas as pd 
df=pd.read_csv("/Users/ritnil/Scaler-cohorts/Pfizer_1.csv")
df

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20
5,15-10-2020,ketamine hydrochloride,Pressure,8.0,NaN,NaN,7.0,NaN,9,10.0,11.0,10.0,9,9.0,11
6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,NaN,42
7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,NaN,27
8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,NaN,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,NaN,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30
10,16-10-2020,ketamine hydrochloride,Temperature,8.0,9.0,10.0,NaN,11.0,12,12.0,11.0,NaN,13,14.0,15
11,16-10-2020,ketamine hydrochloride,Pressure,12.0,12.0,13.0,NaN,15.0,15,15.0,15.0,NaN,16,17.0,18
12,17-10-2020,diltiazem hydrochloride,Temperature,20.0,19.0,19.0,18.0,17.0,16,15.0,NaN,13.0,14,11.0,10
13,17-10-2020,diltiazem hydrochloride,Pressure,3.0,4.0,4.0,4.0,6.0,8,9.0,NaN,9.0,11,13.0,14
14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [3]:
df_melt=pd.melt(df,id_vars=["Date","Drug_Name","Parameter"],
       var_name="Time",
       value_name="Result")
df_melt

           Date                Drug_Name    Parameter      Time  Result
0    15-10-2020  diltiazem hydrochloride  Temperature   1:30:00    23.0
1    15-10-2020  diltiazem hydrochloride     Pressure   1:30:00    12.0
2    15-10-2020      docetaxel injection  Temperature   1:30:00     NaN
3    15-10-2020      docetaxel injection     Pressure   1:30:00     NaN
4    15-10-2020   ketamine hydrochloride  Temperature   1:30:00    24.0
..          ...                      ...          ...       ...     ...
211  17-10-2020  diltiazem hydrochloride     Pressure  12:30:00    14.0
212  17-10-2020      docetaxel injection  Temperature  12:30:00    23.0
213  17-10-2020      docetaxel injection     Pressure  12:30:00    28.0
214  17-10-2020   ketamine hydrochloride  Temperature  12:30:00    24.0
215  17-10-2020   ketamine hydrochloride     Pressure  12:30:00    15.0

[216 rows x 5 columns]

In [4]:
df_tidy=pd.pivot(df_melt,
         index=["Date","Drug_Name","Time"],
         columns="Parameter",
         values="Result").reset_index()
df_tidy.columns.name=None

In [5]:
df_tidy

           Date                Drug_Name      Time  Pressure  Temperature
0    15-10-2020  diltiazem hydrochloride  10:30:00      18.0         20.0
1    15-10-2020  diltiazem hydrochloride  11:30:00      19.0         20.0
2    15-10-2020  diltiazem hydrochloride  12:30:00      20.0         21.0
3    15-10-2020  diltiazem hydrochloride   1:30:00      12.0         23.0
4    15-10-2020  diltiazem hydrochloride   2:30:00      13.0         22.0
..          ...                      ...       ...       ...          ...
103  17-10-2020   ketamine hydrochloride   5:30:00      11.0         17.0
104  17-10-2020   ketamine hydrochloride   6:30:00      12.0         18.0
105  17-10-2020   ketamine hydrochloride   7:30:00      12.0         19.0
106  17-10-2020   ketamine hydrochloride   8:30:00      11.0         20.0
107  17-10-2020   ketamine hydrochloride   9:30:00      12.0         21.0

[108 rows x 5 columns]

In [6]:
np.nan

nan

In [7]:
None

In [8]:
type(None)

NoneType

In [9]:
type(np.nan)

float

In [10]:
pd.Series([1,np.nan,2])

0    1.0
1    NaN
2    2.0
dtype: float64

In [11]:
pd.Series([1,np.nan,2,None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [15]:
a = pd.Series(["1",np.nan,"2",None])
a

0       1
1     NaN
2       2
3    None
dtype: object

In [16]:
type(a[1])

float

In [17]:
type(a[0])

str

In [18]:
type(a[3])

NoneType

In [19]:
df

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20
5,15-10-2020,ketamine hydrochloride,Pressure,8.0,NaN,NaN,7.0,NaN,9,10.0,11.0,10.0,9,9.0,11
6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,NaN,42
7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,NaN,27
8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,NaN,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,NaN,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30
10,16-10-2020,ketamine hydrochloride,Temperature,8.0,9.0,10.0,NaN,11.0,12,12.0,11.0,NaN,13,14.0,15
11,16-10-2020,ketamine hydrochloride,Pressure,12.0,12.0,13.0,NaN,15.0,15,15.0,15.0,NaN,16,17.0,18
12,17-10-2020,diltiazem hydrochloride,Temperature,20.0,19.0,19.0,18.0,17.0,16,15.0,NaN,13.0,14,11.0,10
13,17-10-2020,diltiazem hydrochloride,Pressure,3.0,4.0,4.0,4.0,6.0,8,9.0,NaN,9.0,11,13.0,14
14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [22]:
df.isna().sum()

Date         0
Drug_Name    0
Parameter    0
1:30:00      2
2:30:00      2
3:30:00      6
4:30:00      4
5:30:00      2
6:30:00      0
7:30:00      2
8:30:00      4
9:30:00      2
10:30:00     0
11:30:00     2
12:30:00     0
dtype: int64

In [62]:
df2=pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, np.nan],
                   [np.nan, 3, np.nan, 4]],
                  columns=["A","B","C","D"])
df2

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [45]:
df3=pd.DataFrame([["np.nan", 2, np.nan, 0],
                   ["3", 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, np.nan],
                   ["np.nan", 3, np.nan, 4]],
                  columns=["A","B","C","D"])
df3

        A    B   C    D
0  np.nan  2.0 NaN  0.0
1       3  4.0 NaN  1.0
2     NaN  NaN NaN  NaN
3  np.nan  3.0 NaN  4.0

In [46]:
df2["A"].mean() #3/1 (only one value is valid)

3.0

In [47]:
df2.isna()

       A      B     C      D
0   True  False  True  False
1  False  False  True  False
2   True   True  True   True
3   True  False  True  False

In [48]:
df2.isnull() #alternative method

       A      B     C      D
0   True  False  True  False
1  False  False  True  False
2   True   True  True   True
3   True  False  True  False

In [49]:
pd.isna

In [50]:
pd.isnull

In [51]:
df2.isna().sum(axis=1)

0    2
1    1
2    4
3    2
dtype: int64

In [52]:
df2

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [53]:
df2["D"].mean()

1.6666666666666667

In [54]:
df2

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [59]:
df2 = df2.fillna(0)
df2

     A    B    C    D
0  0.0  2.0  0.0  0.0
1  3.0  4.0  0.0  1.0
2  0.0  0.0  0.0  0.0
3  0.0  3.0  0.0  4.0

In [60]:
df2["A"].mean()

0.75

In [63]:
df2

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [64]:
df2.fillna(df2["A"].mean())

     A    B    C    D
0  3.0  2.0  3.0  0.0
1  3.0  4.0  3.0  1.0
2  3.0  3.0  3.0  3.0
3  3.0  3.0  3.0  4.0

In [65]:
df2["A"].fillna(df2["A"].mean())

0    3.0
1    3.0
2    3.0
3    3.0
Name: A, dtype: float64

In [66]:
df2

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [67]:
df2.fillna(method='ffill')

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  3.0  4.0 NaN  1.0
3  3.0  3.0 NaN  4.0

In [68]:
df2.fillna(method='bfill')

     A    B   C    D
0  3.0  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  3.0 NaN  4.0
3  NaN  3.0 NaN  4.0

In [69]:
df2

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [70]:
df

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20
5,15-10-2020,ketamine hydrochloride,Pressure,8.0,NaN,NaN,7.0,NaN,9,10.0,11.0,10.0,9,9.0,11
6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,NaN,42
7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,NaN,27
8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,NaN,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,NaN,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30
10,16-10-2020,ketamine hydrochloride,Temperature,8.0,9.0,10.0,NaN,11.0,12,12.0,11.0,NaN,13,14.0,15
11,16-10-2020,ketamine hydrochloride,Pressure,12.0,12.0,13.0,NaN,15.0,15,15.0,15.0,NaN,16,17.0,18
12,17-10-2020,diltiazem hydrochloride,Temperature,20.0,19.0,19.0,18.0,17.0,16,15.0,NaN,13.0,14,11.0,10
13,17-10-2020,diltiazem hydrochloride,Pressure,3.0,4.0,4.0,4.0,6.0,8,9.0,NaN,9.0,11,13.0,14
14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [71]:
df.isna().sum()

Date         0
Drug_Name    0
Parameter    0
1:30:00      2
2:30:00      2
3:30:00      6
4:30:00      4
5:30:00      2
6:30:00      0
7:30:00      2
8:30:00      4
9:30:00      2
10:30:00     0
11:30:00     2
12:30:00     0
dtype: int64

In [72]:
df.dropna() #axis = 0

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [73]:
df.dropna(axis=1)

,Date,Drug_Name,Parameter,6:30:00,10:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,22,20,21
1,15-10-2020,diltiazem hydrochloride,Pressure,14,18,20
2,15-10-2020,docetaxel injection,Temperature,18,23,25
3,15-10-2020,docetaxel injection,Pressure,23,26,28
4,15-10-2020,ketamine hydrochloride,Temperature,26,22,20
5,15-10-2020,ketamine hydrochloride,Pressure,9,9,11
6,16-10-2020,diltiazem hydrochloride,Temperature,38,40,42
7,16-10-2020,diltiazem hydrochloride,Pressure,23,24,27
8,16-10-2020,docetaxel injection,Temperature,49,56,58
9,16-10-2020,docetaxel injection,Pressure,27,28,30
10,16-10-2020,ketamine hydrochloride,Temperature,12,13,15
11,16-10-2020,ketamine hydrochloride,Pressure,15,16,18
12,17-10-2020,diltiazem hydrochloride,Temperature,16,14,10
13,17-10-2020,diltiazem hydrochloride,Pressure,8,11,14
14,17-10-2020,docetaxel injection,Temperature,17,21,23
15,17-10-2020,docetaxel injection,Pressure,23,28,28
16,17-10-2020,ketamine hydrochloride,Temperature,18,22,24
17,17-10-2020,ketamine hydrochloride,Pressure,12,13,15

In [74]:
df

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20
5,15-10-2020,ketamine hydrochloride,Pressure,8.0,NaN,NaN,7.0,NaN,9,10.0,11.0,10.0,9,9.0,11
6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,NaN,42
7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,NaN,27
8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,NaN,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,NaN,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30
10,16-10-2020,ketamine hydrochloride,Temperature,8.0,9.0,10.0,NaN,11.0,12,12.0,11.0,NaN,13,14.0,15
11,16-10-2020,ketamine hydrochloride,Pressure,12.0,12.0,13.0,NaN,15.0,15,15.0,15.0,NaN,16,17.0,18
12,17-10-2020,diltiazem hydrochloride,Temperature,20.0,19.0,19.0,18.0,17.0,16,15.0,NaN,13.0,14,11.0,10
13,17-10-2020,diltiazem hydrochloride,Pressure,3.0,4.0,4.0,4.0,6.0,8,9.0,NaN,9.0,11,13.0,14
14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [75]:
df.fillna(0)

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,0.0,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,0.0,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,0.0,17.0,18.0,0.0,17.0,18,0.0,0.0,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,0.0,22.0,22.0,0.0,22.0,23,0.0,0.0,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,0.0,0.0,27.0,0.0,26,25.0,24.0,23.0,22,21.0,20
5,15-10-2020,ketamine hydrochloride,Pressure,8.0,0.0,0.0,7.0,0.0,9,10.0,11.0,10.0,9,9.0,11
6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,0.0,42
7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,0.0,27
8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,0.0,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,0.0,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30
10,16-10-2020,ketamine hydrochloride,Temperature,8.0,9.0,10.0,0.0,11.0,12,12.0,11.0,0.0,13,14.0,15
11,16-10-2020,ketamine hydrochloride,Pressure,12.0,12.0,13.0,0.0,15.0,15,15.0,15.0,0.0,16,17.0,18
12,17-10-2020,diltiazem hydrochloride,Temperature,20.0,19.0,19.0,18.0,17.0,16,15.0,0.0,13.0,14,11.0,10
13,17-10-2020,diltiazem hydrochloride,Pressure,3.0,4.0,4.0,4.0,6.0,8,9.0,0.0,9.0,11,13.0,14
14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [76]:
df['1:30:00'].fillna(df['1:30:00'].mean())

0     23.00
1     12.00
2     17.75
3     17.75
4     24.00
5      8.00
6     34.00
7     18.00
8     46.00
9     23.00
10     8.00
11    12.00
12    20.00
13     3.00
14    12.00
15    20.00
16    13.00
17     8.00
Name: 1:30:00, dtype: float64

In [78]:
df_tidy.head(20)

          Date                Drug_Name      Time  Pressure  Temperature
0   15-10-2020  diltiazem hydrochloride  10:30:00      18.0         20.0
1   15-10-2020  diltiazem hydrochloride  11:30:00      19.0         20.0
2   15-10-2020  diltiazem hydrochloride  12:30:00      20.0         21.0
3   15-10-2020  diltiazem hydrochloride   1:30:00      12.0         23.0
4   15-10-2020  diltiazem hydrochloride   2:30:00      13.0         22.0
5   15-10-2020  diltiazem hydrochloride   3:30:00       NaN          NaN
6   15-10-2020  diltiazem hydrochloride   4:30:00      11.0         21.0
7   15-10-2020  diltiazem hydrochloride   5:30:00      13.0         21.0
8   15-10-2020  diltiazem hydrochloride   6:30:00      14.0         22.0
9   15-10-2020  diltiazem hydrochloride   7:30:00      16.0         23.0
10  15-10-2020  diltiazem hydrochloride   8:30:00      16.0         21.0
11  15-10-2020  diltiazem hydrochloride   9:30:00      24.0         22.0
12  15-10-2020      docetaxel injection  10:30:00      26.0         23.0
13  15-10-2020      docetaxel injection  11:30:00      29.0         25.0
14  15-10-2020      docetaxel injection  12:30:00      28.0         25.0
15  15-10-2020      docetaxel injection   1:30:00       NaN          NaN
16  15-10-2020      docetaxel injection   2:30:00      22.0         17.0
17  15-10-2020      docetaxel injection   3:30:00      22.0         18.0
18  15-10-2020      docetaxel injection   4:30:00       NaN          NaN
19  15-10-2020      docetaxel injection   5:30:00      22.0         17.0

In [83]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [79]:
def temp_mean(x):
    x["Temp_avg"]=np.round(x["Temperature"].mean(),2)
    return x

In [84]:
df_tidy=df_tidy.groupby("Drug_Name").apply(temp_mean)
df_tidy

,Date,Drug_Name,Time,Pressure,Temperature,Temp_avg
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,24.85
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,24.85
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,24.85
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,24.85
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,24.85
...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,17.71
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,17.71
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,17.71
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,17.71
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,17.71

In [81]:
df_tidy["Temperature"].fillna(df_tidy["Temp_avg"],inplace=True)

In [82]:
df_tidy

,Date,Drug_Name,Time,Pressure,Temperature,Temp_avg
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,24.85
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,24.85
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,24.85
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,24.85
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,24.85
...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,17.71
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,17.71
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,17.71
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,17.71
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,17.71

In [85]:

def pres_mean(x):
    x["Pres_avg"]=np.round(x["Pressure"].mean(),2)
    return x

In [86]:
df_tidy=df_tidy.groupby("Drug_Name").apply(pres_mean)

In [87]:
df_tidy

,Date,Drug_Name,Time,Pressure,Temperature,Temp_avg,Pres_avg
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,24.85,15.42
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,24.85,15.42
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,24.85,15.42
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,24.85,15.42
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,24.85,15.42
...,...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,17.71,11.94
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,17.71,11.94
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,17.71,11.94
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,17.71,11.94
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,17.71,11.94

In [88]:
df_tidy["Pressure"].fillna(df_tidy["Pres_avg"],inplace=True)
df_tidy

,Date,Drug_Name,Time,Pressure,Temperature,Temp_avg,Pres_avg
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,24.85,15.42
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,24.85,15.42
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,24.85,15.42
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,24.85,15.42
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,24.85,15.42
...,...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,17.71,11.94
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,17.71,11.94
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,17.71,11.94
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,17.71,11.94
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,17.71,11.94

In [90]:
df

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20
5,15-10-2020,ketamine hydrochloride,Pressure,8.0,NaN,NaN,7.0,NaN,9,10.0,11.0,10.0,9,9.0,11
6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,NaN,42
7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,NaN,27
8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,NaN,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,NaN,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30
10,16-10-2020,ketamine hydrochloride,Temperature,8.0,9.0,10.0,NaN,11.0,12,12.0,11.0,NaN,13,14.0,15
11,16-10-2020,ketamine hydrochloride,Pressure,12.0,12.0,13.0,NaN,15.0,15,15.0,15.0,NaN,16,17.0,18
12,17-10-2020,diltiazem hydrochloride,Temperature,20.0,19.0,19.0,18.0,17.0,16,15.0,NaN,13.0,14,11.0,10
13,17-10-2020,diltiazem hydrochloride,Pressure,3.0,4.0,4.0,4.0,6.0,8,9.0,NaN,9.0,11,13.0,14
14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [125]:
temp_points=[1,20,24,27,100]
temp_labels=["low","medium","high","very_high"]

In [126]:
df_tidy["Temp_cat"] = pd.cut(df_tidy["Temperature"],bins=temp_points,labels=temp_labels)
df_tidy

,Date,Drug_Name,Time,Pressure,Temperature,Temp_cat,timestamp
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,low,2020-10-15 10:30:00
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,low,2020-10-15 11:30:00
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,medium,2020-10-15 12:30:00
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,medium,2020-10-15 01:30:00
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,medium,2020-10-15 02:30:00
...,...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,low,2020-10-17 05:30:00
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,low,2020-10-17 06:30:00
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,low,2020-10-17 07:30:00
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,low,2020-10-17 08:30:00
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,medium,2020-10-17 09:30:00

In [127]:
df_tidy["Temp_cat"].value_counts()

low          50
very_high    27
medium       23
high          8
Name: Temp_cat, dtype: int64

In [128]:
df_tidy

,Date,Drug_Name,Time,Pressure,Temperature,Temp_cat,timestamp
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,low,2020-10-15 10:30:00
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,low,2020-10-15 11:30:00
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,medium,2020-10-15 12:30:00
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,medium,2020-10-15 01:30:00
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,medium,2020-10-15 02:30:00
...,...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,low,2020-10-17 05:30:00
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,low,2020-10-17 06:30:00
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,low,2020-10-17 07:30:00
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,low,2020-10-17 08:30:00
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,medium,2020-10-17 09:30:00

In [129]:
df_tidy.loc[df_tidy["Drug_Name"].str.contains("hydrochloride")]

,Date,Drug_Name,Time,Pressure,Temperature,Temp_cat,timestamp
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,low,2020-10-15 10:30:00
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,low,2020-10-15 11:30:00
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,medium,2020-10-15 12:30:00
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,medium,2020-10-15 01:30:00
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,medium,2020-10-15 02:30:00
...,...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,low,2020-10-17 05:30:00
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,low,2020-10-17 06:30:00
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,low,2020-10-17 07:30:00
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,low,2020-10-17 08:30:00
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,medium,2020-10-17 09:30:00

In [130]:
df_tidy["Date"].str.split("-")

0      [15, 10, 2020]
1      [15, 10, 2020]
2      [15, 10, 2020]
3      [15, 10, 2020]
4      [15, 10, 2020]
            ...
103    [17, 10, 2020]
104    [17, 10, 2020]
105    [17, 10, 2020]
106    [17, 10, 2020]
107    [17, 10, 2020]
Name: Date, Length: 108, dtype: object

In [131]:
df_tidy["Date"].str.split("-").str[-1]

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
103    2020
104    2020
105    2020
106    2020
107    2020
Name: Date, Length: 108, dtype: object

In [132]:
df_tidy["Date"].apply(lambda x:x.split("-")[2])

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
103    2020
104    2020
105    2020
106    2020
107    2020
Name: Date, Length: 108, dtype: object

In [133]:
df_tidy["timestamp"]=df_tidy["Date"]+" "+df_tidy["Time"]

In [134]:
df_tidy

,Date,Drug_Name,Time,Pressure,Temperature,Temp_cat,timestamp
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,low,15-10-2020 10:30:00
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,low,15-10-2020 11:30:00
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,medium,15-10-2020 12:30:00
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,medium,15-10-2020 1:30:00
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,medium,15-10-2020 2:30:00
...,...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,low,17-10-2020 5:30:00
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,low,17-10-2020 6:30:00
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,low,17-10-2020 7:30:00
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,low,17-10-2020 8:30:00
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,medium,17-10-2020 9:30:00

In [135]:
df_tidy.drop(columns=["Pres_avg","Temp_avg"],inplace=True)

KeyError: "['Pres_avg', 'Temp_avg'] not found in axis"

In [ ]:
df_tidy

In [136]:
df_tidy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108 entries, 0 to 107
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         108 non-null    object
 1   Drug_Name    108 non-null    object
 2   Time         108 non-null    object
 3   Pressure     108 non-null    float64
 4   Temperature  108 non-null    float64
 5   Temp_cat     108 non-null    category
 6   timestamp    108 non-null    object
dtypes: category(1), float64(2), object(4)
memory usage: 10.3+ KB

In [103]:
df_tidy["timestamp"]=pd.to_datetime(df_tidy["timestamp"])
df_tidy

,Date,Drug_Name,Time,Pressure,Temperature,Temp_cat,timestamp
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,low,2020-10-15 10:30:00
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,low,2020-10-15 11:30:00
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,medium,2020-10-15 12:30:00
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,medium,2020-10-15 01:30:00
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,medium,2020-10-15 02:30:00
...,...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,low,2020-10-17 05:30:00
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,low,2020-10-17 06:30:00
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,low,2020-10-17 07:30:00
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,low,2020-10-17 08:30:00
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,medium,2020-10-17 09:30:00

In [104]:
df_tidy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108 entries, 0 to 107
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         108 non-null    object
 1   Drug_Name    108 non-null    object
 2   Time         108 non-null    object
 3   Pressure     108 non-null    float64
 4   Temperature  108 non-null    float64
 5   Temp_cat     61 non-null     category
 6   timestamp    108 non-null    datetime64[ns]
dtypes: category(1), datetime64[ns](1), float64(2), object(3)
memory usage: 10.3+ KB

In [105]:
ts=df_tidy["timestamp"][0]
ts

Timestamp('2020-10-15 10:30:00')

In [106]:
ts.year

2020

In [107]:
ts.month

10

In [108]:
ts.day

15

In [109]:
ts.month_name()

'October'

In [110]:
ts.day_name()

'Thursday'

In [111]:
ts.day_of_week

3

In [112]:
ts.hour

10

In [113]:
ts.microsecond

0

In [114]:
df_tidy["timestamp"].dt

In [115]:
df_tidy["timestamp"].dt.year

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
103    2020
104    2020
105    2020
106    2020
107    2020
Name: timestamp, Length: 108, dtype: int64

In [116]:
df_tidy["timestamp"].dt.month

0      10
1      10
2      10
3      10
4      10
       ..
103    10
104    10
105    10
106    10
107    10
Name: timestamp, Length: 108, dtype: int64

In [117]:
df_tidy["timestamp"][0].strftime("%Y-%m-%d")

'2020-10-15'

In [118]:
df_tidy["timestamp"][0].strftime("%d-%m-%Y")

'15-10-2020'

In [119]:
df_tidy["timestamp"][0].strftime("%H-%M-%S")

'10-30-00'

In [120]:
df_tidy["timestamp"][0].strftime("%b %d,%Y")

'Oct 15,2020'

In [121]:
df_tidy["timestamp"][0].strftime("%B %d,%Y")

'October 15,2020'

In [122]:
df_tidy

,Date,Drug_Name,Time,Pressure,Temperature,Temp_cat,timestamp
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,low,2020-10-15 10:30:00
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,low,2020-10-15 11:30:00
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,medium,2020-10-15 12:30:00
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,medium,2020-10-15 01:30:00
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,medium,2020-10-15 02:30:00
...,...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,low,2020-10-17 05:30:00
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,low,2020-10-17 06:30:00
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,low,2020-10-17 07:30:00
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,low,2020-10-17 08:30:00
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,medium,2020-10-17 09:30:00

In [123]:
df

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20
5,15-10-2020,ketamine hydrochloride,Pressure,8.0,NaN,NaN,7.0,NaN,9,10.0,11.0,10.0,9,9.0,11
6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,NaN,42
7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,NaN,27
8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,NaN,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,NaN,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30
10,16-10-2020,ketamine hydrochloride,Temperature,8.0,9.0,10.0,NaN,11.0,12,12.0,11.0,NaN,13,14.0,15
11,16-10-2020,ketamine hydrochloride,Pressure,12.0,12.0,13.0,NaN,15.0,15,15.0,15.0,NaN,16,17.0,18
12,17-10-2020,diltiazem hydrochloride,Temperature,20.0,19.0,19.0,18.0,17.0,16,15.0,NaN,13.0,14,11.0,10
13,17-10-2020,diltiazem hydrochloride,Pressure,3.0,4.0,4.0,4.0,6.0,8,9.0,NaN,9.0,11,13.0,14
14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [124]:
df_tidy.to_csv("drug_clean_data_dirty.csv",sep=",")